@media (max-width: 991.98px) {
    #histories {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card {
        width: 100%;
        height: 100%;
        padding: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
        color: white;
        border-radius: 15px;
        background: rgb(255, 255, 255);
        background: linear-gradient(92.49deg,
                rgba(255, 255, 255, 0.1) 0.18%,
                rgba(255, 255, 255, 0.05) 99.85%);
        backdrop-filter: blur(5px);
        margin-bottom: 30px;
    }
}